.main{
  &__container{
    display: flex;
    flex-direction: row;
  }
  &__side{
    position: relative;
    padding: 30px 60px;
    width: 100%;
  }
}

.delete-button{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: transparent;
  background: transparent;
  border-radius: 50%;
  transition: all 0.3s;
  height: 26px;
  width: 26px;
  transition: all 0.3s;
}

.delete-button:hover{
  box-shadow: 0 0 3px 1px #99b9c9;
}

.delete-button:active{
  box-shadow: 0 0 12px 3px #99b9c9;
  background:#99b9c9;
}